[Unit]
Description=ISC Kea IPv4 DHCP Server
Documentation=man:kea-dhcp4(8)
Wants=network-online.target mariadb.service
Requires=kea-ctrl-agent.service
After=network-online.target mariadb.service

[Service]
Environment="KEA_PIDFILE_DIR=/run"
Environment="KEA_CONTROL_SOCKET_DIR=/run/kea"
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-dhcp4.conf

[Install]
WantedBy=multi-user.target
