[Unit]
Description=MariaDB Server
After=network.target
Conflicts=mysqld.service

[Service]
User=mariadb
Group=mariadb
ExecStart=/usr/sbin/mariadbd --pid-file=/run/mariadb/mariadb.pid
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
